! source theme colors
#include "/home/vaernil/.colors/greyredpurple"
! https://wiki.archlinux.org/index.php/X_resources
! #include "${HOME}/.colors/greyredpurple"
!
! basic syntax
! name.Class.resource: value

st.termName:                    st-256color
xst.termName:                   st-256color
st.shell:                       /bin/zsh
! st.shell:                       /bin/dash
Xcursor.theme:                  deepin
Xcursor.size:                   12
st.cursorshape:                 1
! st.cursorshape:                  2
! st.cursorshape:                  3
! use script here to set dpi
! Xft.dpi:						200
! Xft.dpi:						144
Xft.dpi:						102
! Xft.dpi:						96
! this does have an impact in alacritty even tho i set dpi somewhere else
Xft.lcdfilter:					lcddefault
Xft.hinting:					True
Xft.hintstyle:					hintslight
Xft.autohint: 					0
Xft.rgba:						rgb
Xft.antialias:					True

! {{{ FONT SETTINGS
! *font:						xft:Iosevka Nerd Font:style=Medium:pixelsize=18:antialias=true
Xft.font:						xft: Iosevka Nerd Font:style=Book:pixelsize=17:antialias=true;
! not sure if this works correctly because alacritty uses its own and im yet to
! tackle st
! *.font:                         Iosevka Nerd Font:style=Medium:pixelsize=27:antialias=true, \
!                                 Iosevka:style=Regular:pixelsize=14:antialias=true, \
!                                 MesloLGS NF:style=Regular:pixelsize=15, \
!                                 3270Medium Nerd Font Mono:style=Medium:pixelsize=15, \
!                                 Font Awesome 5 Free Regular:style=Regular:size=10:minspace=false, \
!                                 Font Awesome 5 Brands Regular:style=Regular:size=10:minspace=false;
! Xft.font:						xft:Iosevka Nerd Font:style=Medium:pixelsize=17:antialias=true;\
!                                 xft:Iosevka:style=Regular:pixelsize=14:antialias=true, \
!                                 xft:MesloLGS NF:style=Regular:pixelsize=15, \
!                                 xft:3270Medium Nerd Font Mono:style=Medium:pixelsize=15, \
!                                 xft:Font Awesome 5 Free Regular:style=Regular:size=10:minspace=false, \
!                                 xft:Font Awesome 5 Brands Regular:style=Regular:size=10:minspace=false,
st.font:						Iosevka Nerd Font:style=Regular:pixelsize=18:antialias=true;
!}}}
! maybe source if has terminal installed? for now just deleted
!
! vim: set ft=xdefaults
