@define-color borders_breeze #4c4d50;
@define-color content_view_bg_breeze #111216;
@define-color error_color_backdrop_breeze #43cdbd;
@define-color error_color_breeze #43cdbd;
@define-color error_color_insensitive_backdrop_breeze #21504d;
@define-color error_color_insensitive_breeze #21504d;
@define-color insensitive_base_color_breeze #101115;
@define-color insensitive_base_fg_color_breeze #5f6062;
@define-color insensitive_bg_color_breeze #101115;
@define-color insensitive_borders_breeze #242528;
@define-color insensitive_fg_color_breeze #5f6062;
@define-color insensitive_selected_bg_color_breeze #101115;
@define-color insensitive_selected_fg_color_breeze #5f6062;
@define-color insensitive_unfocused_bg_color_breeze #101115;
@define-color insensitive_unfocused_fg_color_breeze #5f6062;
@define-color insensitive_unfocused_selected_bg_color_breeze #101115;
@define-color insensitive_unfocused_selected_fg_color_breeze #5f6062;
@define-color link_color_breeze #1f8cec;
@define-color link_visited_color_breeze #7f8c8d;
@define-color success_color_backdrop_breeze #9c53c6;
@define-color success_color_breeze #9c53c6;
@define-color success_color_insensitive_backdrop_breeze #3f2750;
@define-color success_color_insensitive_breeze #3f2750;
@define-color theme_base_color_breeze #111216;
@define-color theme_bg_color_breeze #111216;
@define-color theme_button_background_backdrop_breeze #16181d;
@define-color theme_button_background_backdrop_insensitive_breeze #15171c;
@define-color theme_button_background_insensitive_breeze #15171c;
@define-color theme_button_background_normal_breeze #16181d;
@define-color theme_button_decoration_focus_backdrop_breeze #3c78ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #223767;
@define-color theme_button_decoration_focus_breeze #3c78ff;
@define-color theme_button_decoration_focus_insensitive_breeze #223767;
@define-color theme_button_decoration_hover_backdrop_breeze #10a6d4;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #134659;
@define-color theme_button_decoration_hover_breeze #10a6d4;
@define-color theme_button_decoration_hover_insensitive_breeze #134659;
@define-color theme_button_foreground_active_backdrop_breeze #fefefe;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5f6062;
@define-color theme_button_foreground_active_breeze #fefefe;
@define-color theme_button_foreground_active_insensitive_breeze #5f6062;
@define-color theme_button_foreground_backdrop_breeze #fefefe;
@define-color theme_button_foreground_backdrop_insensitive_breeze #626467;
@define-color theme_button_foreground_insensitive_breeze #626467;
@define-color theme_button_foreground_normal_breeze #fefefe;
@define-color theme_fg_color_breeze #fcfdfd;
@define-color theme_header_background_backdrop_breeze #111216;
@define-color theme_header_background_breeze #111216;
@define-color theme_header_background_light_breeze #111216;
@define-color theme_header_foreground_backdrop_breeze #fcfdfd;
@define-color theme_header_foreground_breeze #fcfdfd;
@define-color theme_header_foreground_insensitive_backdrop_breeze #fcfdfd;
@define-color theme_header_foreground_insensitive_breeze #fcfdfd;
@define-color theme_hovering_selected_bg_color_breeze #10a6d4;
@define-color theme_selected_bg_color_breeze #3c78ff;
@define-color theme_selected_fg_color_breeze #fefefe;
@define-color theme_text_color_breeze #fefefe;
@define-color theme_titlebar_background_backdrop_breeze #111216;
@define-color theme_titlebar_background_breeze #111216;
@define-color theme_titlebar_background_light_breeze #111216;
@define-color theme_titlebar_foreground_backdrop_breeze #b5b6b6;
@define-color theme_titlebar_foreground_breeze #edf0f2;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #b5b6b6;
@define-color theme_titlebar_foreground_insensitive_breeze #b5b6b6;
@define-color theme_unfocused_base_color_breeze #111216;
@define-color theme_unfocused_bg_color_breeze #111216;
@define-color theme_unfocused_fg_color_breeze #fcfdfd;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3c78ff;
@define-color theme_unfocused_selected_bg_color_breeze #3c78ff;
@define-color theme_unfocused_selected_fg_color_breeze #fefefe;
@define-color theme_unfocused_text_color_breeze #fefefe;
@define-color theme_unfocused_view_bg_color_breeze #101115;
@define-color theme_unfocused_view_text_color_breeze #5f6062;
@define-color theme_view_active_decoration_color_breeze #10a6d4;
@define-color theme_view_hover_decoration_color_breeze #10a6d4;
@define-color tooltip_background_breeze #111216;
@define-color tooltip_border_breeze #4c4d50;
@define-color tooltip_text_breeze #fcfdfd;
@define-color unfocused_borders_breeze #4c4d50;
@define-color unfocused_insensitive_borders_breeze #242528;
@define-color warning_color_backdrop_breeze #5f7dcd;
@define-color warning_color_breeze #5f7dcd;
@define-color warning_color_insensitive_backdrop_breeze #2a3552;
@define-color warning_color_insensitive_breeze #2a3552;
